<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Request Header Parser Microservice</title>
  </head>
  <body>
    <div id="container">
      <h1>Request Header Parser Microservice</h1>
      <p style="text-align: center">
        A
        <a href="https://www.freecodecamp.org/" target="_blank">freeCodeCamp</a>
        API Project by
        <a href="https://twitter.com/villamin_c" target="_blank">@villamin_c</a
        >. Link to
        <a
          href="https://github.com/ChristianVillamin/boilerplate-project-headerparser"
          >GitHub</a
        >.
      </p>

      <h2>Usage</h2>
      <p class="desc" style="text-align: center">
        <b>GET</b>
        <code
          ><a href="https://cv-parser.glitch.me/api/whoami" target="_blank"
            >/api/whoami</a
          ></code
        >
        <br />
        Responds with JSON format of your IP Address, Language Preference, and
        System Infos
      </p>
      <h2>Example Output</h2>

      <p class="desc">
        <code
          >{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",
          "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0)
          Gecko/20100101 Firefox/50.0"}</code
        >
      </p>

      <h2>User Story</h2>
      <p class="desc">
        I can get the IP address, preferred languages (from header
        Accept-Language) and system infos (from header User-Agent) for my
        device.
      </p>
    </div>
  </body>
</html>
