@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: lemonchiffon;
}

#container {
  background: white;
  width: 90%;
  max-width: 1200px;
  padding: 1rem;
  margin: auto;
  box-shadow: 1px 1px 3px gray;
  margin-top: 2rem;
}

h1 {
  text-align: center;
}

h2 {
  margin: 1.25rem 0 0.35rem 0;
}

.desc {
  background: linen;
  margin-left: 2rem;
  text-indent: 2rem;
  padding: 0.5rem 0;
}

code {
  background: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  h2 {
    text-align: center;
  }

  .desc {
    margin: 0;
    padding: 0.5rem 0.5rem;
    text-indent: 1rem;
  }
}
